<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	failOnWarning="true"
	cacheResultFile=".phpunit.cache/result"
	convertDeprecationsToExceptions="false"
	>
	<testsuites>
		<testsuite name="user-tags">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>
</phpunit>
